.imageContainer {
  /* background-image: radial-gradient(brightness(50%), brightness(100%)); */
  /* background-image: radial-gradient(rgba(0, 255, 0, 0.8), black); */
  height: 100vh;
  background: url(../../Assets/IN-en-20220926-popsignuptwoweeks-perspective_alpha_website_large.jpg),
    radial-gradient(rgba(129, 112, 112, 0.8), black);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
}
/* img {
  height: 100vh;
  width: 100vw;
  object-fit: fill;
} */
