.FAQToggleCard {
  width: 55vw;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #303030;
}
.FAQToggleCard:last-child {
  margin-bottom: 20px;
}
.FAQToggleCard p {
  padding: 5px 20px;
  margin: 5px 20px;
  margin-top: 5px;
}
/* Utility Classes */
.hidden {
  display: none;
}
